@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

html {
    background: url('pattern.png') repeat;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    background-image: none;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a000000', endColorstr='#000000', GradientType=0); /* IE6-9 */
}

.em1 {
    color: #00C0F7 !important;
}
.em2 {
    color: #ED9D13 !important
}

.em3 {
    color: #6AB825 !important
}

.em4 {
    color: #ED9D13 !important
}

.em5 {
    color: maroon !important;
}

.reveal section img {
    margin: 15px 0px;
    background: rgba(255, 255, 255, 0);
    border: 0px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal {
    font-family: 'Noto Sans TC', "Source Sans Pro", Helvetica, sans-serif;
    font-size: 42px;
    font-weight: normal;
    color: #fff;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: 0 0 20px 0;
    color: #fff;
    font-family: 'Noto Sans TC', "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: uppercase;
    text-shadow: none;
    word-wrap: break-word;
}

.reveal .slides {
    margin-top: 0px
}

.reveal pre {
    display: block;
    position: relative;
    width: 100%;
    margin: 0px;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.reveal pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 500px;
    word-wrap: normal;
}

